.bory{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background: linear-gradient(#000,#000000);
    
}
h1::selection{
    background: #F9FF00;
    color: #000;

}
li::selection{
    background: #F9FF00;
    color: #000;

}
p::selection{
    
    background: #F9FF00;
    color: #000;

}
h2::selection{
    background: #F9FF00;
    color: #000;
    
}

i::selection{
    background: #F9FF00;
    color: #000;
    
}
.cabeçalho{
    display: flex;
    justify-content:space-around;
    text-align: center;
    margin: 0 40px;
    font-size: 2em;
    text-decoration: none;
    
}
.logo {
    padding: 20px;
}
.titulo {
    
    padding: 40px;
    color: #F9FF00;
    font-weight:bold;
}
.pergunta {
    width: 600px;
    color: white;
    margin: 0 auto;
}


/*Pagina de desafios*/
h2{
    font-size: 1.5em;
    color: #F9FF00;
    font-weight: bold;
    text-align: center;
    padding: 20px 0px;
}
.pergunta_titulo {
    margin: 20px auto;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
.pergunta_dados{
    margin-left: 45%;
    margin-top: 5px;
    
    
}

p.pergunta_-corpo{
    
    text-align: justify;
    margin-bottom: 5px;

}
p.resposta{
    color: white;
    text-align: center;
    margin-bottom: 10px;
}


#lista{
    display: flex;
    flex-direction: column;
}


.codepen{
    margin: 20px 0px 200px 0px;
}
form.formulario {
    
    color: white;
    width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: solid #F9FF00 1px;
    border-radius: 30px;
}
label {
    margin: 10px auto;
}
.inputFormulario{
    color: #68685c;
    border: solid #F9FF00 .5px;
    margin: auto;
    width: 200px;
    
}
textarea{
    margin-top: 8px;
    resize: none;
    border:solid 1px #F9FF00 ;
    background-color: #f1f1e9;
    
}
button.enviar{
    border-radius: 3px;
    border: none;
    background-color: #F9FF00;
    margin: 15px auto;
    width: 100px;
}
button.enviar:hover{
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
    background-color: #545506;
    color: white;
}
/*day7*/
div.calculadora{
    
    margin: auto;
    background: #F7F8FB;    
    width: 375px;
    height: 812px;
    border-radius: 39px;
}

div.tela{
    height: 330px;

}
div div h2#Calc-Resultados{
    font-size: 48px;
    text-align: right;
    color:#424242;
    padding: 0px 18px 0px 0px;
    
}
div div h3.equacao{
    
    font-size: 24px;
    text-align: right;
    color: #818181;
    padding: 138px 33px 0px 0px;
    border-radius: 39px 39px 0px 0px;

    
}
div.calc-Teclado{
    width:308px;
    height: 442px;
    margin: 0px 33px 40px 34px;
}
div .container{
    display: flex;

}
div ul.buttons-especiais{
    
    display: flex;
    margin-top: 0px;
}
ul li.teclas button.especiais{
    background-color: #303136;
    color: #29A8FF;
    margin: 0px 20px 0px 0px ;    
    border-radius: 24px;
    height: 40px;
    width: 62px;
    border: none;
}




 div ul.numerais{
    
    display: flex;
    flex-wrap: wrap;
    width: 246px;
    height: 396px;
    
}

ul li.teclas button.buttons{
    background-color: #FFFFFF;
    color: #109DFF;
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
    width: 62px;
    height: 62px;
    margin: 16px 20px 0px 0px;
    border-radius: 16px;
    border: none;
    
}
ul li.teclas button.button-divisao{
    font-size: 16px;
    font-weight: bold;
    background-color: #ADE2FF;
    color: #109DFF;
    padding: 0px;
    width: 62px;
    height: 62px;
    margin: 16px 20px 0px 0px;
    border-radius: 16px;
    border: none;

}
.gg-backspace {
    margin-left: 25px;
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 14px;
    height: 14px;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-left: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px
    }
   
    .gg-backspace::after,
    .gg-backspace::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
    }
   
    .gg-backspace::before {
    background:
    linear-gradient( to left,
    currentColor 18px,transparent 0)
    no-repeat center center/10px 2px;
    border-right: 3px solid transparent;
    box-shadow: inset 0 0 0 2px;
    right: 2px;
    bottom: 1px;
    width: 8px;
    height: 8px;
    border-left: 3px solid transparent;
    transform: rotate(45deg)
    }
   
    .gg-backspace::after {
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 1px;
    transform: rotate(-45deg);
    top: 0;
    left: -5px
}  
ul li.teclas button.button-Limpar{
    background-color: #616161;
    color: #A5A5A5;
    padding: 0px;
    width: 62px;
    height: 62px;
    margin: 16px 20px 0px 0px;
    border-radius: 16px;
    border: none;
}

ul li.teclas button.buttons-comprido{
    background-color: #FFFFFF;
    color: #109DFF;
    font-weight: bold;
    font-size: 16px;
    padding: 0px;
    width: 144px;
    height: 62px;
    margin: 16px 20px 0px 0px;
    border-radius: 16px;
    border: none;
}
div ul.operadores{
width: 62px;
height: 396px;
}

ul li.teclas button.operador{
background-color: #ADE2FF;
color: #109DFF;
width: 62px;
height: 62px;
margin-top: 16px;
border-radius: 16px;
border: none;


}
ul li.teclas button.operador-alto {
    color: #109DFF;
    background-color: #ADE2FF;
    padding: 0px;
    width: 62px;
    height: 104px;
    margin-top: 16px;
    border-radius: 16px;
    border: none;
    
    }



/*fim day7*/

/*Pagina Inicial*/
ul.desafioLista {
    width: 600px;    
    margin:107px auto;
    display: flex; 
    flex-wrap: wrap;

}
.desafioLista-link {
    
    width: 120px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
 
}

.desafioLista a {

    color: #F9FF00;
    
}
.botao-link {
    background: #F9FF00;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: bold;
    
}
.botao-link:hover {
    background: #545506;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    transition: 0.5s;
}

.rodaPe {
    height: 200px;
    display: flex;
    justify-content: space-between;
    position:static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #68685c;
    color: white;
    text-align: center;
    margin-top: 10px;
}


div.autor{
    width: 100%;
    height: 100%;
    text-align: center;
    border-right: solid rgb(121, 116, 116) 1px ;
       


}
.autor h2 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 90px;
}

.contato {
    width: 100%;
    height: 100%;
    text-align: center;
    
}
.contato h2 {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 90px;
}

.linkedi-icon{
   max-width: 25px;
   max-height: 25px;  
   margin-top: 5px;
     
} 
